streamlit
pandas
numpy
openpyxl
matplotlib
reportlab
prophet
XlsxWriter==3.2.0
pymoo
plotly
fuzzywuzzy
streamlit-drawable-canvas
pdf2image
poppler-utils
python-levenshtein
camelot-py[cv]
pytesseract
pdfplumber
scikit-learn
transformers
torch
